/* eslint-disable */
/* stylelint-disable */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1 {
    font-family: 'Lato', sans-serif;
  }
  h2 {
    font-family: 'Lato', sans-serif;
  }
}